<div class="w-full h-full">
  <ng-container *ngIf="loading(); else ready">
    <div class="mx-auto max-w-screen-xl px-4 py-6 text-gray-500">Carregando…</div>
  </ng-container>
  <ng-template #ready>
    <ng-container *ngIf="error(); else onlyHtml">
      <div class="mx-auto max-w-screen-xl px-4 py-6">
        <div class="p-6 rounded bg-red-50 text-red-700 border border-red-200">{{ error() }}</div>
      </div>
    </ng-container>
    <ng-template #onlyHtml style="height: 100%!important;">
      <app-simple-html-injector
        [htmlUrl]="htmlUrl()"
        [height]="'100%'"
        [autoLoad]="true"
        [allowScripts]="true"
        (loaded)="onHtmlLoaded()"
        (errorEmitted)="onHtmlError($event)">
      </app-simple-html-injector>
    </ng-template>
  </ng-template>
</div>
