<div class="flex flex-col h-screen bg-slate-100">
  <app-top-bar></app-top-bar>
  <div class="flex flex-grow overflow-hidden">
    <!-- Sidebar para Desktop -->
    <app-sidebar 
      class="hidden md:flex"
      [isCollapsed]="isSidebarCollapsed" 
      (onToggle)="toggleSidebar()">
    </app-sidebar>
    
    <!-- Conteúdo Principal -->
    <main class="flex-grow overflow-y-auto pb-20 md:pb-0">
      <router-outlet></router-outlet>
    </main>
  </div>
  
  <!-- Bottom Nav para Mobile -->
  <app-bottom-nav class="md:hidden"></app-bottom-nav>
</div>