<div class="p-4 md:p-8">
  <div class="mb-6">
    <h1 class="text-2xl md:text-3xl font-bold text-slate-800">Configurações</h1>
    <p class="text-slate-500">Gira as informações da sua empresa, utilizadores e permissões.</p>
  </div>

  <p-tabView styleClass="p-datatable-gridlines">
    <p-tabPanel header="Empresa">
      <ng-template pTemplate="content">
        <app-company-settings></app-company-settings>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Utilizadores">
      <ng-template pTemplate="content">
        <p>Aqui você poderá gerir os utilizadores do sistema.</p>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Permissões">
      <ng-template pTemplate="content">
        <p>Aqui você poderá definir os perfis de acesso (Gerente, Vendedor, etc.).</p>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>