<div class="p-4 md:p-8">
  <div class="mb-6">
    <h1 class="text-3xl font-bold text-slate-800">Configurações</h1>
    <p class="text-slate-500">Gira as informações da sua empresa, utilizadores e permissões.</p>
  </div>

  <p-tabView>
    <p-tabPanel header="Empresa">
      <app-company-settings></app-company-settings>
    </p-tabPanel>
    <p-tabPanel header="Utilizadores">
      <p>Conteúdo da aba de Utilizadores.</p>
    </p-tabPanel>
    <p-tabPanel header="Permissões">
      <p>Conteúdo da aba de Permissões.</p>
    </p-tabPanel>
  </p-tabView>
</div>