<div class="p-4 md:p-8">
  <div class="mb-6">
    <h1 class="text-2xl md:text-3xl font-bold text-slate-800">Configurações</h1>
    <p class="text-slate-500">Gira as informações da sua empresa, utilizadores e permissões.</p>
  </div>

  <p-tabView styleClass="p-datatable-gridlines">
    <p-tabPanel header="Empresa">
      <ng-template pTemplate="content">
        <app-company-settings></app-company-settings>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Subsidiárias">
      <ng-template pTemplate="content">
        <app-subsidiary-settings></app-subsidiary-settings>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Utilizadores">
      <ng-template pTemplate="content">
        <app-users-settings></app-users-settings>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Permissões">
      <ng-template pTemplate="content">
        <app-permissions-settings></app-permissions-settings>
      </ng-template>
    </p-tabPanel>

    <!-- Theme editing panel (only visible to authorized roles) -->
    <p-tabPanel *ngIf="canEditTheme()" header="Tema">
      <ng-template pTemplate="content">
        <app-theme-settings></app-theme-settings>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>