<aside class="flex flex-col p-4 bg-white border-r border-slate-200">
  <div class="flex items-center mb-10 min-h-[40px]" [ngClass]="isCollapsed ? 'justify-center' : 'justify-between'">
    <div *ngIf="!isCollapsed" class="text-2xl font-bold text-teal-500">
      <span class="font-normal text-slate-800">Meu</span>ERP
    </div>
    <button (click)="toggle()" class="p-2 rounded-md text-slate-500 hover:bg-slate-100 hover:text-teal-500" [innerHTML]="isCollapsed ? iconMenu : iconX"></button>
  </div>
  
  <ul class="flex-grow space-y-2">
    <!-- Itens do Menu -->
    <li class="p-2 rounded-md bg-teal-50 text-teal-600 font-semibold">
      <a href="#" class="flex items-center gap-3">
        <i class="pi pi-cog"></i>
        <span *ngIf="!isCollapsed">Configurações</span>
      </a>
    </li>
    <!-- Outros itens virão aqui -->
  </ul>
</aside>